@model lab3_forms.Models.Dane

<h1>Wynik</h1>
<p>Potwierdzam Twoje dane:</p>
<ul>
    <li>Imię: @Model.Imie</li>
    <li>Nazwisko: @Model.Nazwisko</li>
    <li>Email: @Model.Email</li>
    <li>Hasło: (nie wyświetlamy hasła ze względów bezpieczeństwa)</li>
    <li>Numer telefonu: @Model.NrTelefonu</li>
    <li>Wiek: @Model.Wiek</li>
    <li>Miasto: @Model.Miasto</li>
</ul>
